.profile{
    position: relative;
    grid-template-columns: 18rem auto 20rem;
    gap: 1rem;
    height: 88vh;
    overflow: auto;
    width: 100vw;
    display: block;
}

.profile_center{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 70vw;
    margin: 0 auto;
}